$primary: #4360f6;
$secondary: #2f5bd1;
$black: #000;
$black-2: #101010;
$black-secondary: #0d1333;
$black-secondary2: #002241;
$white: #fff;
$white-2: #d3d9f7;
$white-3: #EEF1FF;
$white-4: #DBF4FF;
$green: #15d934;
$green-2: #099820;
$red: #ff0000;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Montserrat Alternates", sans-serif;
$font-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;
